@import '~bootstrap/scss/bootstrap';

 //全体
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing: border-box;
  color: #333333;
  height: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

ul {
  list-style: none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.success {
  background-color: #98ecaa7a;
  color: #fff;
  text-align: center;
}

.danger {
  background-color: #ec98ac8f;
  color: #fff;
  text-align: center;
}

.notice {
  background-color: aqua;
  color: #fff;
  text-align: center;
}

.alert {
  background-color: #ff7f50;
  color: #fff;
  text-align: center;
}

//header
.site-header {
  position: relative;
  background-color: #def7ff;
}

.footer {
  color: #fff;
  background-color: #000;
  text-align: center;
}

//devise
.device {
    padding-top: 36px;
    font-size: 16px;
}

.device_frame {
    max-width: 600px;
    text-align: center;
    padding: 24px;
    margin: 150px auto;
    background-color: white;
    border-radius: 4px;
}

.device_inner {
    width: 360px;
    margin: 0px auto;
}

.device p {
    font-size: 16px;
}

.test-user-nav {
  text-align: center;
}

.test-user {
  background-color: aquamarine;
  border-radius: 4px;
  border: cyan;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  height: auto;
  width: 300px;
}

//post
.post-content {
  border-bottom: 1px solid #eaedef;
  padding: 20px;
  margin: 0 15px;
  font-size: 16px;
}

.post-view-box {
  max-width: 880px;
  background-color: #fff;
  border: 1px solid #eaedef;
  margin: 30px auto;
}

.new-post {
  width: 210px;
  margin-left: 3px;
  padding: 20px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

@mixin input{
  border: none;
  border-radius: 50px;
  background: #F4F8F9;
  height: 37px;
  padding: 10px 20px;
}

.search_wap{
  margin-right: 15px;
  position: relative;
  width: 210px;
  .input{
    @include input;
    margin: 10px;
  }
  .search__button{
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 13px;
    height: 37px;
    width: 40px;
    border-style: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    .icon_wap{
      i{
        position: absolute;
        right: 14px;
        top: 13px;
        font-size: 13px;
        font-weight: 900;
        color: #999999;
      }
    }
  }
}


//top_page
.menu-nav {
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #0c0b0b;
}

.menu-nav:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #030303 transparent transparent;
}

.menu-nav:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.top .top-main {
  background-image: url(https://images.pexels.com/photos/439391/pexels-photo-439391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  width: 100%;
  height: 650px;
}

.top .slogan-fream {
  align-items: center;
  margin-top: 250px;
}

.top .slogan-area {
  background: #fff;
  height: 100px;
  padding: 25px;
  border-radius: 5px;
}

.top .panel-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 25px;
}

.top span {
  bottom: 50px;
  left: 0;
  right: 0;
  color: rgb(10, 10, 10);
  font-weight: bold;
  z-index: 1;
  margin: auto;
  text-align: center;
  font-size: 24px;
}

.top .slogan-area-title {
  font-size: 28px;
  font-weight: bold;
}

.site-top {
  color: #000;
}

.section-title {
  position: relative;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
}

.section-title:before,
.section-title:after {
  position: absolute;
  content: '';
}

.section-title:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.section-title:after {
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 2px dashed #000;
  background: #fff;
}

.section-title i {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 60px;
  position: absolute;
  z-index: 2;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.section-title span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1.5rem;
}

.section-title span:before,
.section-title span:after {
  position: absolute;
  content: '';
}

.section-title span:before {
  top: -34px;
  left: calc(50% - 34px);
  width: 68px;
  height: 40px;
  border: 2px dashed #000;
  border-radius: 50vw 50vw 0 0;
}

.section-title span:after {
  position: absolute;
  top: 4px;
  left: calc(50% - 32px);
  width: 64px;
  height: 10px;
  background: #fff;
}

//customer_page
.customers li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
  color: #000;
}

.customer-information {
  list-style: none;
  padding: 0;
}

.customer-line {
  height: 30px;
}
